# Mac system files
*.DS_Store
*.DS_STORE

# VSCode settings
.vscode/**
!.vscode/pull-request-task/
!.vscode/pull-request-task/**/
!.vscode/pull-request-task/**/PR_**

# Golang
*.cache
go.work

# Python
.venv
__pycache__

# Frontend
*.run

# Log
*.log

# Agent
SPEC.md
TASK.md
.reference
.specs
.tasks

# Others
*.yaml
*.build

